<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/siteRoot/style.css">
    <title>Library Main Menu</title>
    <div class=header>
        <ul>
            <li id=afss>Northcoast National Primary Prison</li>
            <li><a class=afs href="/">Home</a></li>
            <li><a class=afs href="#CheckOut">Check out book</a></li>
            <li><a class=afs href="#CheckIn">Check in book</a></li>
            <li><a class=afs href="/booklist">Book index</a></li>
            <li><a class=afs href="/addbook">Add a book</a></li>
        </ul>
    </div>  
</head>



    
<body>
{% block content %}{% endblock %}
</body>
</html>