{% extends "siteRoot/base.html" %}

{%block content%}

<div id='blBg'>
    <div id='searchBox'><form action="{% url 'search' %}"><input id="searchBoxInputArea"type="text" name="search" placeholder="Search... Id or Title or Author"></form></div>
    <div id=contentResults>
        {% for i in box %}
            <div class=contentBoxes><a href={{i.id}}>{{i.title}}</a></div>
        {% endfor %}
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    {%for i in boxes%}
        <br><br><br><br><br><br>
    {%endfor%}
    {%if yes%}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {%endif%}
</div>
{%endblock content%}