{% load crispy_forms_tags %}
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="../static/siteRoot/style1.css">
</head>

<body>
<h1><a href='/booklist'>Back to index<a> <div id=title>Title: {{book_id.title}}</div><div id=id>Author: {{book_id.author}}</div></h1>
<div id=author>Book ID: {{book_id.id}}</div>


<div id=Date>
    Date Added: {{book_id.date}}
</div>
<div id=Checked>
    Checked Out: 
    {%if book_id.checked_out%}
        Yes<br/> 
            {%if isPartOf%}
                The book is checked out to: {{book_id.book_owner}}
            {%endif%}
    {%else%}
        No
    {%endif%}

</div>
{%if isPartOf%}
    <div id='Checkinout'>
    {% crispy form form.helper %}
    </div>
{%endif%}
</body>

</html>