{% extends "siteRoot/base.html" %}

{% block content %}

<div id = shell>
    <div id = kms>
        <span id = title>Welcome to the library</span>
    </div>
    <div id=aboutPage>
    <h1>About:</h1>
    <h2>We are an organisation who has created a library management app. We aim to be:<br>  1. Easy to use<br>  2. Accesible <br>3.Visually appealing <br>
    We wish that we fullfil these goals and that you enjoy our app as it was created, 
    have fun and get reading!</h2>
    </div>
</div>

{%endblock content%}

