html{
    background-color: rgb(250, 235, 215);
}

h1{
    width: 100%;
    background-color: rgb(226, 214, 197);
    background-size: cover; 
    position: absolute;
    margin-top: 0;
    top: 0;
    left:0;
}

h1 a{
    text-decoration: none;
    font-size: 3vw;
    margin-left: 20px;
    color: rgb(0, 135, 150);
    
    background-color: rgb(206, 195, 180);
    border-radius: 10px;
}

h1 #title{
    font-size: 3vw;
    position: absolute;
    left:40vw;
    top:0;

}

h1 #id{
    font-size: 3vw;
    position: absolute;
    left: 80vw;
    top:0;
}

#author{
    font-size: 3vw;
    color: rgb(0, 135, 150);
    position: absolute;
    margin-left: 20px;
    top: 10vh;
    background-color: rgb(226, 214, 197);
}

#summary{
    font-size: 3vw;
    color: rgb(0, 135, 150);
    position: absolute;
    margin-left: 20px;
    margin-right: 2000px;
    min-width: calc(100%);
    top: 20vh;
    background-color: rgb(226, 214, 197);
}

#Date{
    color: rgb(0, 135, 150);
    font-size: 3vw;
    min-width: calc(100%);
    background-color: rgb(226, 214, 197);
    position: absolute;
    margin-left: 20px;
    margin-top: 10vh;
    top: 30vh;

}

#Checked{
    color: rgb(0, 135, 150);
    margin-top: 10vh;
    font-size: 3vw;
    min-width: calc(100%);
    background-color: rgb(226, 214, 197);
    position: absolute;
    margin-left: 20px;
    top: 40vh;
}

